<!DOCTYPE html>
<html lang="en">

<head>
    <meta chartset="utf-8">
    <meta name="vieport" content="width=device-width, initial-scale=1">

    <title> Officine BBM Service</title>
    <link rel="stylesheet" href="ChoosePage.css" type="text/css" media="screen">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" re="stylesheet"
        integrity="sha348-BVYiiSIFeK1dGmJRAkycuHAHRg320mUcww7on3RYdg4Va+RmSTsz/K68vdbEjh4u" crossorigin="anonymous">

</head>

<body>
    <div id="image">
        <div class="image-pos"></div>
    </div>
    <div class="divider">
        <div class="content-title">
            <div class="content-title-text">
                <h2><b> Selezionare il lavoro </b></h2>
            </div>
        </div>

        <div class="about-selector-1">
            <p>
                Creare un nuovo Form per i Manutentori
            </p>
            <div id="about-btn-1">
                <a href="CreateForms.html" class="text-center btn btn-lg btn-blue" style="text-decoration: none;">
                    Procedi </a>
            </div>
        </div>

        <div class="about-selector-2">
            <p>
                Visionare Form completati dai Manutentori
            </p>
            <div id="about-btn-2">
                <a href="VisualizeForms.html" class="text-center btn btn-lg btn-blue" style="text-decoration: none;">
                    Procedi </a>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>

</html>