<!DOCTYPE html>
<html lang="en">

<head>
    <meta chartset="utf-8">
    <meta name="vieport" content="width=device-width, initial-scale=1">

    <title> Officine BBM Service</title>
    <link rel="stylesheet" href="MainPage.css" type="text/css" media="screen">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" re="stylesheet"
        integrity="sha348-BVYiiSIFeK1dGmJRAkycuHAHRg320mUcww7on3RYdg4Va+RmSTsz/K68vdbEjh4u" crossorigin="anonymous">

</head>

<body>

    <section id="about">
        <div id="about-bg-diagonal"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-content-box">
                        <div class="about-content-box-outer">
                            <div class="about-content-box-inner">
                                <div class="content-title">
                                    <h3><b>Officine BBM</b></h3>
                                    <div class="content-title-underline"></div>
                                </div>
                                <div id="about-desc">
                                    <p>
                                        Reparto Service - Sito per la gestione dei manutentori e report
                                    </p>
                                </div>
                                <div id=about-btn>
                                    <a href="ChoosePage.html" class="text-center btn btn-lg btn-blue"
                                        style="text-decoration: none;">Entra</a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>

</html>